@mixin base-font{
    font-family:$primary-font-family,Arial,sans-serif;
    font-size:$base-font-size;
    font-weight:300;
    font-style:normal;
    line-height:$base-line-height;
    color:#ffffff;
    @content;
}

@mixin tablet{
	@media(min-width: $tablet-min-width){
		@content; // <--this line is required
	}
}

@mixin desktop{
	@media(min-width: $desktop-min-width){
		@content; // <--this line is required
	}
}