@mixin base-font{
    font-family:$primary-font-family,Arial,sans-serif;
    font-size:$base-font-size;
    font-weight:300;
    font-style:normal;
    line-height:$base-line-height;
    color:#ffffff;
    @content;
}