$color-border-white:#ffffff;
$color-brand-green:#00cc00;
$color-main-background:#222222;


$base-spacing-unit:1.5rem;
$width-site:1080px;
$border-dashed: 1px dashed $color-border-white;

$base-font-size: 16px;
$base-line-height: 1.5;
$primary-font-family: 'Exo Web';
