.not-found{
    width:100%;

    .not-found-content-container{
        width:100%;

        h2{
            font-size:1.75rem;
            font-weight:500;
            margin-bottom:$base-spacing-unit;
            @include tablet{
                font-size: 4.5vmin;
            }
        }

        p{
            font-size:0.75rem;
            margin-bottom:$base-spacing-unit;
            @include tablet{
                font-size: 2.25vmin;
                font-weight:500;
            }
        }

        .search-container{

            form{
                box-sizing:content-box;
            }

            .search-field{
                background-color: $color-main-background;
                border:1px solid $color-brand-green;
                border-radius:$border-radius;
                width:70%;
                font-size:0.75rem;
                font-weight:500;
                padding: 0.5em 0.5em;
                @include tablet{
                    font-size: 3vmin;
                    border: 3px solid $color-brand-green;
                    width:40%;
                }

                &::placeholder{
                text-transform:uppercase;
                }
            }

            .search-submit{
                background-color: $color-main-background;
                border:0;
                @include tablet{
                    .fa{
                    font-size: 2.5vmin;
                    }
                }

                *{
                    color:$color-brand-green;
                }


            }

        }

    }
}