.about-content{
    width:100%;
    .about-content-container{
        h2{
            font-size:1.75rem;
            font-weight:500;
            margin-bottom:$base-spacing-unit;
            @include tablet{
                font-size:4.5vmin;
            }
        }
        
        &>p:first-of-type{
            margin-bottom:$base-spacing-unit;
            @include tablet{
                margin-bottom:3rem;
            }
        }

        p{
            font-size:0.75rem;
            @include tablet{
                font-size:2.5vmin;
            }
            
            a{
                font-size:1em;

            }   
        }
    }
}