.home-content{
    .home-content-container{
        .the-quote{
            margin-bottom:$base-spacing-unit;
        }
        .the-author{
            margin-bottom:3rem;
        }
        .random-quote{
            margin-bottom:4.5rem;
            color:$color-brand-green;
            background-color:$color-main-background;
            border: 1px solid $color-brand-green;
            padding:0.5em $base-spacing-unit;
            border-radius:3px;
        }
    }
}