.home-content{
    .home-content-container{
        .the-quote{
            margin-bottom:$base-spacing-unit;
            font-weight:500;
            font-size:1px;
        }
        .the-author{
            margin-bottom:3rem;
        }
        .random-quote{
            color:$color-brand-green;
            background-color:$color-main-background;
            border: 1px solid $color-brand-green;
            padding:0.5em $base-spacing-unit;
            border-radius:$border-radius;
            font-weight:500;
        }
    }
}