.search-results-content{
    .search-results-content-container{

        p:first-child{
            font-size:1.5rem;
            font-weight:500;
            margin-bottom:$base-spacing-unit;
            @include tablet{
                font-size: 4.5vmin;
            }
        }
        
        h2:first-of-type{
            border-top: $border-dashed;
            padding: $base-spacing-unit 0;
            margin: 0;
        }

        p{
            font-size:0.75rem;
            font-weight:500;
            margin-bottom:$base-spacing-unit;
            @include tablet{
                font-size: 2.25vmin;
            }
        }

        h2{
            margin-bottom:$base-spacing-unit;
            a{
            font-size:1.25rem;
            font-weight:500;
            @include tablet{
                font-size: 3.25vmin;
            }
            }
        }

        nav.number-pagination{

            &>*{
                padding-right: 0.5em;
                font-size:0.75rem;
                font-weight:500;
                @include tablet{
                    font-size: 2.5vmin;
                }
            }
        }
    }
}