
.submit{
    width:100%;
    .submit-content-container{
        width:100%;
        h2{        
            font-size:1.75rem;
            font-weight:500;
            margin-bottom:$base-spacing-unit; 
            @include tablet{
                font-size: 4.5vmin;
            }
        }
        form{
            label{
                display:inline-block;
                font-size:0.75rem;
                font-weight:500;
                margin-bottom:1em;
                @include tablet{
                    font-size: 2.5vmin;
                }

            }
            input{
                display:inline-block;
                width:66%;
                outline:none;
                background-color:$color-main-background;
                margin-bottom:1rem; 
                border: 1.5px solid $color-brand-green;
                border-radius: $border-radius;
                @include tablet{
                    border: 3px solid $color-brand-green;
                    font-size: 2.5vmin;
                    padding: 0.5em 0;
                    margin-bottom:2rem;
                }
            }

            &>input:last-child{
                color:$color-brand-green;
                padding:0.5em $base-spacing-unit;
                font-size:0.75rem;
                font-weight:500;
                width:45%;
                margin-bottom:0;
                @include tablet{
                    font-size: 2.5vmin;
                    padding: 0.5em 0.25em;
                }
            }

            textarea{
                display:inline-block;
                width:100%;
                height:5em;
                resize:none;
                outline:none;
                background-color:$color-main-background;
                margin-bottom:1rem; 
                border:1.5px solid $color-brand-green;
                border-radius:$border-radius;
                @include tablet{
                    height:10em;
                    border: 3px solid $color-brand-green;
                }
            }
        }

   //////////////below is the style for page-submit when not logged in////////////////////
   
        a,
        p{
            font-size:0.75rem;
            margin-bottom:$base-spacing-unit;
            @include tablet{
                font-size: 2.5vmin;
            }
        }  
    }
}