.tag-content{
    .tag-content-container{

        &>p:first-child{
            font-size:1.5rem;
            font-weight:500;
            padding-bottom:$base-spacing-unit;
            border-bottom:$border-dashed;
        }

        &>p{
            font-size:1rem;
            margin: $base-spacing-unit 0;
        }

        h2{
            margin-bottom:$base-spacing-unit;
        }

        h2 +p {
            padding-bottom: $base-spacing-unit;
            border-bottom: $border-dashed;
        }

        nav.number-pagination{

            &>*{
                padding-right: 0.5em;
                font-size:0.75rem;
                font-weight:500;
            }
        }
    }
}