footer{
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    font-size:4.5vmin;
    margin-bottom:3em;

    .main-menu{
        width:100%;

        .menu-main-menu-container{
            width:100%;
            
            #menu-main-menu{
                width:100%;
                display:flex;
                flex-flow:row nowrap;
                justify-content:flex-start;

                li{
                    padding-right: 3vw;
                    border-right: 1px solid $color-border-white;
                    line-height:1;

                    a{
                        // font-size:0.9rem;
                        font-size:4.5vmin;
                        text-decoration:none;
                        color:$color-brand-green;
                    }
                }

                & li:nth-child(2),
                & li:nth-child(3){
                    padding-left: 3vw;
                }

                & li:nth-child(3){
                    border:none;
                }
            }
        }
    
    }

    .footer-text-container{
        font-size:4.5vmin;
        margin-top:1.5em;

        & *{
            font-size:4.5vmin;
            line-height: 1;
        }
    }
}